<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Weather.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F4B21AC1D61391700A8A828</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F4B21C01D61391700A8A828</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F4B21CB1D61391700A8A828</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
